authlib==0.15.5
flask-login==0.5.0
flask==1.1.2
googlemaps==4.6.0
geopy==2.2.0
requests==2.25.1
numpy==1.20.1
openweathermap==0.1.2
pandas==1.2.4
pytest==6.2.3
setuptools==52.0.0
scikit-learn==0.24.1
itsdangerous==2.0.1
