authlib
flask-login
flask
googlemaps==2.5.1
geopy==2.2.0
jupyter==1.0.0
requests
numpy==1.20.1
python==3.9.5
openweathermap
pandas==1.2.4
pep8==1.7.1
pip==21.0.1
pytest==6.2.3
setuptools==52.0.0.post20210125
scipy==1.6.2
scikit-learn==0.24.1
sklearn==0.0
