<html>

<label for="uber-price-op">Uber Price: ${{result.uber_price}}</label>
    <output name="Uber Price"></output>

<br>
<br>

<label for="lyft-price-op">Lyft Price: ${{result.lyft_price}}</label>
    <output name="Lyft Price"></output>

<br>
<br>

<label for="eta-op">ETA: {{result.estimated_time}} minutes</label>
    <output name="ETA"></output>

<br>
<br>

<label for="distance-op">Distance: {{result.distance}} miles</label>
    <output name="Distance"></output>

<br>
<br>

<input type="submit" value="Log Out" href='/logout'>

</html>
